#imovel_portlet_actions {
    display: flex;
}

.select2-container--default {
    align-self: flex-end;
}

a#btn_add_user {
    flex: none;
    margin-left: 5px;
}

.__jobs-page select#sel_imovel+.select2-container {
    width: 300px !important;
}

.btn.btn-icon.btn-sm,
.btn-group-sm>.btn.btn-icon {
    height: 0.5rem;
    width: 1.5rem;
}

h5.m-title,
h6.m-title {
    line-height: 38.4px;
}

h1.m-title {
    text-align: center;
    margin: 10px auto;
}

input[type=file] {
    margin: 10px auto;
}

button#btn_upload_contrato,
button#btn_upload_laudo {
    margin-bottom: 10px;
}